﻿<html>
<head>
    <title>Home</title>
    <script>
        alert('Hello');
    </script>
</head>
<body>
    <form method="post">
        <p>Username: </p><input type="text" id="username" name="username" /><br />
        <p>Password: </p><input type="password" id="password" name="password" /><br />
        <p>Name: </p><input type="text" id="name" name="name" /><br />
        <p>Lastname: </p><input type="text" id="lastname" name="lastname" /><br />
        <p>Tel No.: </p><input type="text" id="tel" name="tel" /><br />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>